/* grid-main-box(parent) */
.parent-box-Mayor {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 1rem;
    text-align: justify;


}

/* mini-box(son) */
.div1-box-for-style {
    grid-area: 1 / 1 / 1 / 6;
    margin: 0 20px;


}

.div2-box-for-style {
    grid-area: 1 / 6 / 1 / 6;
    margin-right: 20px;

}

.div3-box-for-style {
    grid-area: 3 / 1 / 5 / 7;
    margin: 0 20px;
}

/* End grid(parent) */

/* img style */
img[alt="President"] {
    width: 100%;
}

/* H style */
.H2-style-about {
    color: green;
}

/* P style */
.P-style-about {
    color: black;
}


/* button affect */
.button-affect {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 9px #999;
}

.button-affect:hover {
    background-color: #3e8e41;
    color: black
}

.button-affect:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}